<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Rudraksha Financial Services offers finance solutions including home loans, mortgage loans, and more.">
<meta name="keywords"
	content="Finance, Loans, Home Loans, Mortgages, Investment Services">
<meta http-equiv="cache-control" content="no-cache">
<meta name="author" content="Rudraksha Financial Services">

<title>Rudraksha Financial Services</title>

<!-- Favicons -->
<link href="assets/img/logo.png" rel="icon">
<link href="assets/img/logo.png" rel="apple-touch-icon">

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Main CSS File -->
<link href="assets/css/main.css" rel="stylesheet" />
<!--<link rel="stylesheet" href="/css/style.css"> -->
</head>
<body class="index-page">
	<header id="header" class="header d-flex align-items-center fixed-top">
		<div
			class="container-fluid container-xl position-relative d-flex align-items-center">
			<a href="/" class="logo d-flex align-items-center me-auto"> <!-- Uncomment the line below if you also wish to use an image logo -->
				<img src="assets/img/logo.png" alt="">
				<h1 class="sitename">RUDRAKSHA FINANCIAL SERVICES</h1>
			</a>
			<nav id="navmenu" class="navmenu">
				<ul>
					<li><a href="/" class="active">Home</a></li>
					<li><a href="#about">About</a></li>
					<li class="dropdown"><a href="#services"><span>Services</span>
							<i class="bi bi-chevron-down toggle-dropdown"></i></a>
						<ul>
							<li><a href="homeloan">Home Loan</a></li>
							<li><a href="mortgageloan">Mortgage Loan</a></li>
							<li><a href="bt-topuploan">BT+Top-up Loan</a></li>
							<li><a href="projectloan">Project Loan</a></li>
							<li><a href="cclimit">CC Limit</a></li>
							<li><a href="odlimit">OD Limit</a></li>
						</ul></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="#partner">Become Partner</a></li>
				</ul>
				<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
			</nav>
			<a class="cta-btn" href="applypage">Apply now</a>
		</div>
	</header>

	<!-- start Pop up -->
	<div class="overlay" id="overlay"></div>
	<div class="popup animated-popup" id="popup">
		<span class="close-btn" onclick="hidePopup()">✖</span>
		<h1>🎉 Exclusive Loan Offers</h1>
		<h1>Just for You!</h1>
		<p>
			At <strong>Rudraksha Financial Services</strong>, we offer:
		</p>
		<ul>
			<li>✅ Home Loans at competitive interest rates</li>
			<li>✅ Loan Against Property (LAP)</li>
			<li>✅ Balance Transfer + Top-Up</li>
			<li>✅ Project Loans</li>
			<li>✅ CC Limit and OD Limit</li>
			<li>✅ Loans available even for low CIBIL score clients</li>
		</ul>
		<p style="font-size: 15px; color: black; font-family: 'Arial;'">📉
			Minimum ROI | ⚡ Fast Approval | 🤝 Personalized Support</p>

		<button class="cta-button"
			onclick="window.location.href='tel:+919713776077'">Call Us
			Now</button>
	</div>
	<!-- /start Pop up -->


	<main class="main">
		<!-- Hero Section -->
		<section id="hero" class="hero section dark-background">
			<img src="assets/img/hero-bg1.jpeg" alt="" data-aos="fade-in">
			<div class="container d-flex flex-column align-items-center">
				<h2 data-aos="fade-up" data-aos-delay="100">Rudraksha Financial
					Services</h2>
				<p data-aos="fade-up" data-aos-delay="200">Our Financial
					Expertise At Your Service</p>
				<h6 data-aos="fade-up" data-aos-delay="200"
					style="padding-top: 50px;">Your information stays secure with
					us.</h6>
				<div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300"
					style="padding-top: 5px;">

					<a href="applypage" class="btn-get-started me-4"
						style="display: inline-block; background-color: #FF4500; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
						APPLY NOW </a> <a href="tel:+919713776077"
						class="btn-call-now d-flex align-items-center"
						style="color: #FFFFFF; border: 2px solid #FF4500; padding: 10px 20px; border-radius: 5px; text-decoration: none;">
						<i class="bi bi-telephone me-2"></i> <span>Call Us Now</span>
					</a>
				</div>
			</div>
		</section>
		<!-- /Hero Section -->

		<!-- About Section -->
		<section id="about" class="about section" style="text-align: justify;">
			<div class="container">
				<div class="row gy-4">
					<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
						<h3>
							Welcome to Rudraksha Financial Services<br> Your trusted partner in
							financial growth and stability.
						</h3>
						<img src="assets/img/about_2.jpg" class="img-fluid rounded-4 mb-4"
							alt="">
						<p>We are a modern financial services company committed to
							helping individuals and businesses make smarter financial
							decisions with confidence and clarity.</p>
						<p>Rudraksha Financial Services was founded with the vision of making
							financial services accessible, transparent, and customer-focused.</p>
					</div>
					<div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
						<div class="content ps-0 ps-lg-5">
							<p class="fst-italic">To empower people and businesses with
								innovative, reliable, and affordable financial solutions that
								drive sustainable growth and long-term security.</p>
							<h5>
								<b>Why Choose Rudraksha Financial Services?</b>
							</h5>
							<ul>
								<li><i class="bi bi-check-circle-fill"></i> <span>Fast
										Loan Approvals</span></li>
								<li><i class="bi bi-check-circle-fill"></i> <span>Minimum
										Documentation.</span></li>
								<li><i class="bi bi-check-circle-fill"></i> <span>Lowest
										Rate Of Interest.</span></li>
							</ul>
							<p>To be one of the most trusted and customer-centric
								financial companies in the region, setting new standards in
								service, ethics and financial inclusion.</p>
							<div class="position-relative mt-4">
								<img src="assets/img/about_4.jpg" class="img-fluid rounded-4"
									alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /About Section -->

		<!-- Stats Section -->
		<section id="stats" class="stats section light-background">
			<div class="container" data-aos="fade-up" data-aos-delay="100">
				<div class="row gy-4">
					<div class="col-lg-3 col-md-6">
						<div class="stats-item d-flex align-items-center w-100 h-100">
							<i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
							<div>
								<span style="white-space: nowrap; display: inline;"> <span
									class="purecounter" style="display: inline;"
									data-purecounter-start="0" data-purecounter-end="250"
									data-purecounter-duration="1"></span><span
									style="display: inline;">+</span>
								</span>
								<p>Happy Clients</p>
							</div>
						</div>
					</div>
					<!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item d-flex align-items-center w-100 h-100">
							<i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
							<div>
								<span style="white-space: nowrap; display: inline;"> <span
									class="purecounter" style="display: inline;"
									data-purecounter-start="0" data-purecounter-end="300"
									data-purecounter-duration="1"></span><span
									style="display: inline;">+</span>
								</span>
								<p>Projects</p>
							</div>
						</div>
					</div>
					<!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item d-flex align-items-center w-100 h-100">
							<i class="bi bi-headset color-green flex-shrink-0"></i>
							<div>
								<span style="white-space: nowrap; display: inline;"> <span
									class="purecounter" style="display: inline;"
									data-purecounter-start="0" data-purecounter-end="1500"
									data-purecounter-duration="1"></span><span
									style="display: inline;">+</span>
								</span>
								<p>Days Of Support</p>
							</div>
						</div>
					</div>
					<!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item d-flex align-items-center w-100 h-100">
							<i class="bi bi-bank"></i>
							<div>

								<span style="white-space: nowrap; display: inline;"> <span
									class="purecounter" style="display: inline;"
									data-purecounter-start="0" data-purecounter-end="100"
									data-purecounter-duration="1"></span><span
									style="display: inline;">+</span>
								</span>
								<p>Trusted Banks</p>
							</div>
						</div>
					</div>
					<!-- End Stats Item -->

				</div>
			</div>
		</section>
		<!-- /Stats Section -->

		<!-- Services Section -->
		<section id="services" class="services section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Services</h2>
				<p>
					Featured Services<br>
				</p>
			</div>
			<!-- End Section Title -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">
				<div class="row gy-5">
					<div class="col-xl-4 col-md-6" data-aos="zoom-in"
						data-aos-delay="200">
						<div class="service-item">
							<div class="img">
								<img src="assets/img/service/services-1.jpg" class="img-fluid"
									alt="">
							</div>
							<div class="details position-relative">
								<div class="icon">
									<i class="bi bi-house-door-fill"></i>
								</div>
								<a href="homeloan" class="stretched-link">
									<h3>Home Loan</h3>
								</a>
								<p>Your dream home, made affordable – simple home loans that
									fit your life.</p>
								<br> <a href="homeloan"
									style="display: inline-block; background-color: #FF5F1F; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
									APPLY NOW </a>
							</div>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-xl-4 col-md-6" data-aos="zoom-in"
						data-aos-delay="300">
						<div class="service-item">
							<div class="img">
								<img src="assets/img/service/services-2.jpg" class="img-fluid"
									alt="">
							</div>
							<div class="details position-relative">
								<div class="icon">
									<i class="bi bi-file-text-fill"></i>
								</div>
								<a href="mortgageloan" class="stretched-link">
									<h3>Mortgage Loan</h3>
								</a>
								<p>Secure your future with flexible and reliable mortgage
									solutions.</p>
								<br> <a href="mortgageloan"
									style="display: inline-block; background-color: #FF5F1F; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
									APPLY NOW </a>
							</div>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-xl-4 col-md-6" data-aos="zoom-in"
						data-aos-delay="400">
						<div class="service-item">
							<div class="img">
								<img src="assets/img/service/services-3.jpg" class="img-fluid"
									alt="">
							</div>
							<div class="details position-relative">
								<div class="icon">
									<i class="bi bi-cash-coin"></i>
								</div>
								<a href="bt-topuploan" class="stretched-link">
									<h3>BT+Top-up Loan</h3>
								</a>
								<p>Lower your EMIs and get extra funds with our BT + Top-Up
									Loan.</p>
								<br> <a href="bt-topuploan"
									style="display: inline-block; background-color: #FF5F1F; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
									APPLY NOW </a>
							</div>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-xl-4 col-md-6" data-aos="zoom-in"
						data-aos-delay="500">
						<div class="service-item">
							<div class="img">
								<img src="assets/img/service/services-4.jpg" class="img-fluid"
									alt="">
							</div>
							<div class="details position-relative">
								<div class="icon">
									<i class="bi bi-buildings-fill"></i>
								</div>
								<a href="projectloan" class="stretched-link">
									<h3>Project Loan</h3>
								</a>
								<p>Empowering enterprise growth through customized project
									funding.</p>
								<br> <a href="projectloan"
									style="display: inline-block; background-color: #FF5F1F; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
									APPLY NOW </a>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					
					<div class="col-xl-4 col-md-6" data-aos="zoom-in"
						data-aos-delay="500">
						<div class="service-item">
							<div class="img">
								<img src="assets/img/service/cclimit.jpeg" class="img-fluid"
									alt="">
							</div>
							<div class="details position-relative">
								<div class="icon">
									<i class="bi bi-credit-card-fill"></i>
								</div>
								<a href="cclimit" class="stretched-link">
									<h3>CC Limit</h3>
								</a>
								<p>More credit, less hassle – apply for a CC Limit increase today.</p>
								<br> <a href="cclimit"
									style="display: inline-block; background-color: #FF5F1F; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
									APPLY NOW </a>
							</div>
						</div>
					</div>
					<!-- End Service Item -->
					
					<div class="col-xl-4 col-md-6" data-aos="zoom-in"
						data-aos-delay="500">
						<div class="service-item">
							<div class="img">
								<img src="assets/img/service/odlimit.jpg" class="img-fluid"
									alt="">
							</div>
							<div class="details position-relative">
								<div class="icon">
								<i class="bi bi-stack-overflow"></i>
								</div>
								<a href="odlimit" class="stretched-link">
									<h3>OD Limit</h3>
								</a>
								<p>Smart overdraft solutions to keep your finances flowing.</p>
								<br> <a href="odlimit"
									style="display: inline-block; background-color: #FF5F1F; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
									APPLY NOW </a>
							</div>
						</div>
					</div>
					<!-- End Service Item -->

				</div>
			</div>
		</section>
		<!-- /Services Section -->

		<!-- Clients Section -->
		<section id="clients" class="clients section light-background">
			<h2 style="text-align: center; font-weight: bold;">We Proudly
				Partner With India's Leading Banks</h2>
			<h5 style="text-align: center; font-weight: bold;">To Offer You
				The Best Loan Solution</h5>
			<br>
			<div class="container" data-aos="fade-up" data-aos-delay="100">
				<div class="swiper init-swiper">

					<script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 4000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
         </script>
					<div class="swiper-wrapper align-items-center">
						<div class="swiper-slide">
							<img src="assets/img/banks/bank1.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank2.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank3.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank4.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank5.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank6.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank7.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank8.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank9.png" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
							<img src="assets/img/banks/bank10.png" class="img-fluid" alt="">
						</div>
					</div>
					<div>
						<br>
					</div>
					<div class="swiper-pagination"></div>
					<div>
						<br>
					</div>
				</div>
				<div>
					<br>
				</div>
			</div>
			<!-- /Clients Section -->

			<!-- Features Section -->
			<section id="features" class="features section"
				style="text-align: justify; background-color: #ffffff;">

				<div class="container">
					<ul class="nav nav-tabs row  d-flex" data-aos="fade-up"
						data-aos-delay="100">
						<li class="nav-item col-3"><a class="nav-link active show"
							data-bs-toggle="tab" data-bs-target="#features-tab-1"><i
								class="bi bi-arrow-right-circle"></i>
								<h4 class="d-none d-lg-block">Provide services in</h4> </a></li>
						<li class="nav-item col-3"><a class="nav-link"
							data-bs-toggle="tab" data-bs-target="#features-tab-2"> <i
								class="bi bi-buildings"></i>
								<h4 class="d-none d-lg-block">TNC (Town and Country
									Planning)</h4>
						</a></li>
						<li class="nav-item col-3"><a class="nav-link"
							data-bs-toggle="tab" data-bs-target="#features-tab-3"> <i
								class="bi-shuffle"></i>
								<h4 class="d-none d-lg-block">Diversion</h4>
						</a></li>
						<li class="nav-item col-3"><a class="nav-link"
							data-bs-toggle="tab" data-bs-target="#features-tab-4"> <i
								class="bi bi-building"></i>
								<h4 class="d-none d-lg-block">RERA (Real Estate Regulatory
									Authority)</h4>
						</a></li>
					</ul>
					<!-- End Tab Nav -->

					<div class="tab-content" data-aos="fade-up" data-aos-delay="200">

						<div class="tab-pane fade active show" id="features-tab-1">
							<div class="row">
								<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
									<h3>Financial Support for TNC, Diversion & RERA Approvals.</h3>
									<p class="fst-italic">We offer specialized financing
										solutions to support the regulatory and compliance needs of
										real estate and land development projects. Our funding covers
										key processes such as</p>
									<ul>
										<b>
											<li><i class="bi bi-check2-all"></i> <spab>TNC
												(Town & Country Planning) approvals</spab></li>
											<li><i class="bi bi-check2-all"></i> <span>Land
													use Diversion</span></li>
											<li><i class="bi bi-check2-all"></i> <span>RERA
													(Real Estate Regulatory Authority) registration</span></li>
										</b>
									</ul>
									<p>By financing key regulatory processes like TNC
										approvals, land diversion, and RERA registration, we empower
										developers and landowners to move forward without financial
										constraints. Our solutions are tailored to ensure that
										compliance costs do not stall progress, helping clients stay
										on schedule and within budget. With fast disbursals, minimal
										documentation, and flexible repayment terms, we make it easier
										to focus on execution while we take care of the funding.</p>
								</div>
								<div class="col-lg-6 order-1 order-lg-2 text-center">
									<img src="assets/img/working.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
						<!-- End Tab Content Item -->

						<div class="tab-pane fade" id="features-tab-2">
							<div class="row">
								<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
									<h3>Financing Solutions for T&CP-Approved Projects</h3>
									<h5 class="fst-italic">At Rudraksha Financial Services, we
										understand that planned development is the backbone of any
										progressive city.</h5>
									<br>

									<ul>
										<b>
											<li><i class="bi bi-check2-all"></i> <span>Get
													funding for residential, commercial, and industrial
													plotting projects approved under T&CP norms.</span></li>
											<li><i class="bi bi-check2-all"></i> <span>From
													documentation to disbursement, we guide you through every
													step of the T&CP process.</span></li>
											<li><i class="bi bi-check2-all"></i> <span>Specialized
													services for real estate developers needing funds before
													and after T&CP approval. </span></li>
										</b>
									</ul>
									<p class="fst-italic">We assist developers, colonizers, and
										landowners in securing financing for projects that require
										approval from T&CP departments. Whether you’re developing
										residential colonies, commercial complexes, or industrial
										layouts, our financial solutions help you navigate regulatory
										requirements smoothly.</p>
								</div>
								<div class="col-lg-6 order-1 order-lg-2 text-center">
									<img src="assets/img/TNC.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
						<!-- End Tab Content Item -->

						<div class="tab-pane fade" id="features-tab-3">
							<div class="row">
								<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
									<h3>Land Diversion & Financing Support</h3>
									<h5 class="fst-italic">At Rudraksha Financial Services, we
										assist landowners, developers, and businesses in securing
										financing for projects that require land use diversion
										approval.</h5>
									<p>Land diversion refers to the legal process of changing
										land classification—such as converting agricultural land into
										residential, commercial, or industrial use.</p>
									<ul>
										<b>
											<li><i class="bi bi-check2-all"></i> <span>Expert
													guidance on state-specific diversion laws and procedures.</span></li>
											<li><i class="bi bi-check2-all"></i> <span>Assistance
													in diversion application preparation and submission.</span></li>
											<li><i class="bi bi-check2-all"></i> <span>Financial
													assessment and loan facilitation post-diversion approval.</span></li>
										</b>
									</ul>
									<p class="fst-italic">Many development projects stall due
										to lack of proper permissions. Our expertise ensures your land
										meets the required norms, helping you proceed confidently with
										your project and secure funding on time.</p>
								</div>
								<div class="col-lg-6 order-1 order-lg-2 text-center">
									<img src="assets/img/Diversion.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
						<!-- End Tab Content Item -->

						<div class="tab-pane fade" id="features-tab-4">
							<div class="row">
								<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
									<h3>Easy Loans for RERA-Approved Properties – Secure, Fast
										and Hassle-Free Financing.</h3>
									<h5 class="fst-italic">If your property is RERA-approved,
										getting a loan becomes easier. Lenders trust such projects
										more because they're legally compliant and pose less risk.</h5>
									<p>We help you find the best loan options for
										RERA-registered properties so you can invest with confidence.</p>

									<ul>
										<b>
											<li><i class="bi bi-check2-all"></i> <span>Get
													personalized advice based on your financial profile and
													property type.</span></li>
											<li><i class="bi bi-check2-all"></i> <span>We
													partner with top banks and NBFCs to offer you multiple loan
													options.</span></li>
											<li><i class="bi bi-check2-all"></i> <span>Faster
													eligibility checks and pre-approval for RERA-compliant
													projects.</span></li>
										</b>
									</ul>

									<p>Our team works directly with leading banks and NBFCs to
										streamline your loan process — from eligibility checks and
										documentation to disbursement.</p>

								</div>
								<div class="col-lg-6 order-1 order-lg-2 text-center">
									<img src="assets/img/RERA.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
						<!-- End Tab Content Item -->

					</div>
				</div>
			</section>
			<!-- /Features Section -->

			<!-- Page Start- Become Partner -->
			<div data-aos="fade-up" data-aos-delay="200">
				<section id="partner" class="business"
					style="background: url('assets/img/partner.jpg') no-repeat center center; background-size: cover; padding: 50px 0px;">
					<div class="overlay_business">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="main_business_content text-center wow fadeIn"
										data-wow-duration="2s">
										<h2>Let’s Succeed Together – Join Our Partner Network</h2>
										<h5 style="color: white;">CREATE YOUR OWN BUSINESS WITH
											OUR IDEAS!</h5>
										<br> <a href="/partner" class="btn pink-btn">Become
											Partner</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- Page end- Become Partner -->


			<!-- Services 2 Section -->
			<section id="services-2" class="services-2 section light-background">

				<!-- Section Title -->
				<div class="container section-title" data-aos="fade-up">
					<h2>Projects</h2>
					<p>Project Loan Categories</p>
				</div>
				<!-- End Section Title -->

				<div class="container">
					<div class="row gy-4">
						<div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
							<div class="service-item d-flex position-relative h-100">
								<i class="bi bi-map icon flex-shrink-0"></i>
								<div>
									<h4 class="title">
										<a href="projectloan" class="stretched-link">Colonizer
											Loan</a>
									</h4>
									<p class="description" style="font-size: 16px;">For land
										aggregators or colonizers developing residential or plotted
										townships.</p>
								</div>
							</div>
						</div>
						<!-- End Service Item -->

						<div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
							<div class="service-item d-flex position-relative h-100">
								<i class="bi bi-house-gear icon flex-shrink-0"></i>
								<div>
									<h4 class="title">
										<a href="projectloan" class="stretched-link">Builder/Developer
											Loan</a>
									</h4>
									<p class="description" style="font-size: 16px;">For real
										estate developers constructing residential or commercial
										buildings.</p>
								</div>
							</div>
						</div>
						<!-- End Service Item -->

						<div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
							<div class="service-item d-flex position-relative h-100">
								<i class="bi bi-building icon flex-shrink-0"></i>
								<div>
									<h4 class="title">
										<a href="projectloan" class="stretched-link">Hotel &
											Resort Loan</a>
									</h4>
									<p class="description" style="font-size: 16px;">For
										entrepreneurs and companies developing hospitality projects.</p>
								</div>
							</div>
						</div>
						<!-- End Service Item -->

						<div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
							<div class="service-item d-flex position-relative h-100">
								<i class="bi bi-tools icon flex-shrink-0"></i>
								<div>
									<h4 class="title">
										<a href="projectloan" class="stretched-link">Machinery
											Loan</a>
									</h4>
									<p class="description" style="font-size: 16px;">For
										businesses needing heavy equipment or machinery for projects.</p>
								</div>
							</div>
						</div>
						<!-- End Service Item -->

						<div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
							<div class="service-item d-flex position-relative h-100">
								<i class="bi bi-box-seam icon flex-shrink-0"></i>
								<div>
									<h4 class="title">
										<a href="projectloan" class="stretched-link">Warehouse
											Loan</a>
									</h4>
									<p class="description" style="font-size: 16px;">For
										companies developing or expanding storage and logistics
										facilities.</p>
								</div>
							</div>
						</div>
						<!-- End Service Item -->

						<div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
							<div class="service-item d-flex position-relative h-100">
								<i class="bi bi-gear-wide-connected icon flex-shrink-0"></i>
								<div>
									<h4 class="title">
										<a href="projectloan" class="stretched-link">Industrial
											Project Loan</a>
									</h4>
									<p class="description" style="font-size: 16px;">For setting
										up or expanding manufacturing units or industrial parks.</p>
								</div>
							</div>
						</div>
						<!-- End Service Item -->


					</div>
				</div>
			</section>
			<!-- /Services 2 Section -->

			<!-- CIBIL CALL Section -->
			<section id="CibilCall" class="team section light-background"
				style="text-align: justify; background-color: #ffffff;">

				<!-- Section Title -->
				<div class="container section-title" data-aos="fade-up"
					data-aos-delay="300">
					<h2>CIBIL CALL</h2>
					<p>Loan for CIBIL Challenged Applicants</p>
				</div>
				<!-- End Section Title -->

				<div class="container">
					<div class="row gy-5">

						<!-- Text Column -->
						<div class="col-lg-8 col-md-6" data-aos="fade-up"
							data-aos-delay="50">
							<div class="member" style="text-align: justify;">
								<div class="pic">
									<h3>Have you been denied a loan due to a low CIBIL score
										or past defaults? You’re not alone—and you’re not out of
										options.</h3>
									<p style="font-size: 20px;">We specialize in second-chance
										financing—helping individuals with low or damaged credit
										scores secure the funds they need while starting the journey
										toward financial recovery.</p>
									<h3>Don’t let a low credit score stop your progress.</h3>
									<p>Contact Rudraksha Financial Services today for a free
										consultation and take your first step toward financial
										freedom.</p>
									<h3
										style="font-family: 'Roboto', sans-serif; font-size: 24px; color: #333;">
										Overcome CIBIL Issues <a href="cibilapply"
											style="display: inline-block; background-color: #FF5F1F; color: #fff; padding: 12px 24px; font-size: 16px; font-family: 'Roboto', sans-serif; border-radius: 6px; text-decoration: none; margin-left: 450px;">
											APPLY NOW </a>
									</h3>
								</div>
							</div>
						</div>

						<!-- GIF Column -->
						<div class="col-lg-4 col-md-8" data-aos="fade-up"
							data-aos-delay="100">
							<img src="assets/img/cibilscore.gif" class="img-fluid"
								alt="Loan process animation">
						</div>

					</div>
				</div>
			</section>

			<!-- Testimonials Section -->
			<section id="testimonials"
				class="testimonials section dark-background">
				<img src="assets/img/testimonials-bg.jpg" class="testimonials-bg"
					alt="">
				<div class="container" data-aos="fade-up" data-aos-delay="100">


					<div class="testimonial-item">
						<img src="assets/img/testimonials/Owner.jpg"
							class="testimonial-img" alt="">
						<h3>Jatin Verma</h3>
						<h4>Owner</h4>
						<p>
							<i class="bi bi-quote quote-icon-left"></i> <span>Our
								company is led by Jatin Verma, a seasoned finance expert with
								years of experience in property financing and a passion for
								helping clients achieve their investment goals.</span> <i
								class="bi bi-quote quote-icon-right"></i>
						</p>
					</div>
				</div>
				<!-- End testimonial item -->
			</section>
			<!-- /Testimonials Section -->

			<!-- Contact Section -->
			<section id="contact" class="contact section">

				<!-- Section Title -->
				<div class="container section-title" data-aos="fade-up">
					<h2>Contact</h2>
					<p>Rudraksha Financial Services</p>
				</div>
				<!-- End Section Title -->

				<div class="container" data-aos="fade-up" data-aos-delay="100">
					<div class="row gy-4">
						<div class="col-lg-6 ">
							<div class="row gy-3">
								<div class="col-lg-12">
									<div
										class="info-item d-flex flex-column justify-content-center align-items-center"
										data-aos="fade-up" data-aos-delay="200">
										<i class="bi bi-geo-alt"></i>
										<h3>Address</h3>
										<p>PU4 Scheme No. 54 Plot No. 362, Second Floor</p>
										<p>Front Of India Shelter Bank, Vijay Nagar, Indore</p>
									</div>
								</div>
								<!-- End Info Item -->
							</div>

							<iframe
								src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d117743.6684796838!2d75.81366548645516!3d22.747203270486345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3962fdc1da42d223%3A0x6f9f3f0a7935f9c0!2sPU4%20Plot%2C%20No%20362%2C%20behind%20Malhar%20Mega%20Mall%2C%20Scheme%2054%20PU4%2C%20Indore%2C%20Madhya%20Pradesh%20452010!3m2!1d22.7472244!2d75.8960671!5e0!3m2!1sen!2sin!4v1746609274713!5m2!1sen!2sin"
								width="100%" height="270" style="border: 0;" allowfullscreen=""
								loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>

						<div class="col-lg-6">
							<form id="enquiry" method="post" action="/enquiry"
								class="enquiry-form" data-aos="fade-up" data-aos-delay="500">

								<div class="row gy-5">

									<div class="col-md-6">
										<div
											class="info-item d-flex flex-column justify-content-center align-items-center"
											data-aos="fade-up" data-aos-delay="300">
											<i class="bi bi-telephone"></i>
											<h3>Call Us</h3>
											<p>9713776077</p>
										</div>
									</div>
									<!-- End Info Item -->

									<div class="col-md-6">
										<div
											class="info-item d-flex flex-column justify-content-center align-items-center"
											data-aos="fade-up" data-aos-delay="400">
											<i class="bi bi-envelope"></i>
											<h3>Email Us</h3>
											<p>rudrakshafinancialservices21@gmail.com</p>
										</div>
									</div>
									<!-- End Info Item -->

									<div class="col-md-6 mb-1">
										<input id="name" type="text" name="name" class="form-control"
											placeholder="Your Name" required>
									</div>
									<div class="col-md-6 mb-1">
										<input id="number" type="tel" name="number"
											class="form-control" placeholder="Your Number" required>
									</div>
									<div class="col-md-12 text-center">

										<button type="submit" class="btn">SUBMIT</button>
									</div>
								</div>
								<div id="form-message" class="mt-3"></div>
								<div id="submitted-data" class="mt-4"></div>
							</form>
						</div>
						<!-- End Contact Form -->

					</div>
				</div>
			</section>
			<!-- /Contact Section -->
	</main>

	<footer id="footer" class="footer dark-background">
		<div class="container footer-top">
			<div class="row gy-4">
				<div class="col-lg-4 col-md-6 footer-about">
					<a href="index.html" class="logo d-flex align-items-center"> <span
						class="sitename">Rudraksha Financial Services</span>
					</a>
					<div class="footer-contact pt-3">
						<p>PU4 Scheme No. 54 Plot No. 362, Second Floor</p>
						<p>Front Of India Shelter Bank, Vijay Nagar, Indore</p>
						<p class="mt-3">
							<strong>Phone:</strong> <span>9713776077</span>
						</p>
						<p>
							<strong>Email:</strong> <span>rudrakshafinancialservices21@gmail.com</span>
						</p>
					</div>
					<div class="social-links d-flex mt-4">
						<a href="tel:+919713776077"><i class="bi bi-whatsapp"></i></a> <a
							href="https://www.facebook.com/profile.php?id=61576110118130"><i
							class="bi bi-facebook"></i></a> <a
							href="https://www.instagram.com/rudrakshafinancialservices21?igsh=emJrd3FxNGNkMXRr"><i
							class="bi bi-instagram"></i></a> <a href="https://www.linkedin.com/in/rudraksha-financial-services-2b7b69364/"><i
							class="bi bi-linkedin"></i></a>
					</div>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#about">About
								us</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#CibilCall">Cibil
								Call</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><i class="bi bi-chevron-right"></i> <a href="homeloan">Home
								Loan</a></li>
						<li><i class="bi bi-chevron-right"></i> <a
							href="mortgageloan">Mortgage Loan</a></li>
						<li><i class="bi bi-chevron-right"></i> <a
							href="bt-topuploan">BT+Topup Loan</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="projectloan">Project
								Loan</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="cclimit">CC
								Limit</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="odlimit">OD
								Limit</a></li>
					</ul>
				</div>

				<div class="col-lg-4 col-md-12 footer-newsletter">
					<h4>Join Us</h4>
					<p>Stay connected with the latest financial tips, market
						insights, and updates!</p>
					<a href="applypage" class="btn-get-started me-4"
						style="display: inline-block; background-color: #FF4500; color: #fff; padding: 12px 24px; font-size: 15px; font-family: 'Roboto', sans-serif; border-radius: 3px; text-decoration: none;">
						APPLY NOW </a>
				</div>
			</div>
		</div>

		<div class="container copyright text-center mt-4">
			<p>
				<strong class="px-1 sitename"> © 2025 Rudraksha Financial
					Services</strong> <span>All Rights Reserved</span>
			</p>
		</div>
	</footer>

	<!-- Scroll Top -->
	<a href="#" id="scroll-top"
		class="scroll-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Preloader -->
	<div id="preloader"></div>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>
	<script src="assets/vendor/aos/aos.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.js" defer></script>

</body>
</html>
